In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import time

In [ ]:
#Q1.Write a python program to display all the header tags from wikipedia.org.
def Get_Headers(url):
    page=requests.get(url)
    if page.status_code >=200 and  page.status_code < 300:
        soup=BeautifulSoup(page.content)
        Header=[]
        for i in  soup.find_all(["h1","h2","h3","h4","h5","h6"]):
            Header.append(i.text.replace('\n',""))
        return Header

In [ ]:
Get_Headers('https://en.wikipedia.org/wiki/Main_Page')

In [ ]:
#Q2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.

def get_movie_list_imdb(url):    
    #url='https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&ref_=adv_prv'
    lst_movie=[]
    while True:
        #print(url)
        #page=requests.get('https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&ref_=adv_prv')
        page=requests.get(url)
        if page.status_code >=200 and  page.status_code < 300:
            md=BeautifulSoup(page.content)
        else:
            break
        movies=md.find_all('div',class_="lister-item-content")
        #lst_movie=[]
        df2=pd.DataFrame()
        for movie in movies:
            movie_rank=movie.find('span',class_="lister-item-index unbold text-primary").text.replace('\n','')
            movie_name=movie.find('h3',class_="lister-item-header").a.text.replace('\n','')
            movie_rating=movie.find('div',class_="inline-block ratings-imdb-rating").text.replace('\n','')
            movie_yr=movie.find('span',class_="lister-item-year text-muted unbold").text.replace('\n','')
            lst_movie.append({'movie_rank':movie_rank,'movie_name':movie_name,'movie_rating':movie_rating,'movie_yr':movie_yr})
        df1=df2.append(lst_movie)
        url_tag=md.find('div',class_="desc").a.text
        if 'Next' in url_tag:
            url_link=md.find('div',class_="desc").a['href']
            url='https://www.imdb.com'+url_link
            #print(url)
        else:
            break
    return df1

In [ ]:
get_top100_movie_list_imdb('https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&ref_=adv_prv')

In [ ]:
#Q3.Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.
def indian_movie(url):
#page=requests.get('https://www.imdb.com/list/ls056092300/')
    page=requests.get(url)
    if page.status_code >=200 and  page.status_code < 300:
        md=BeautifulSoup(page.content)
        movies=md.find_all('div',class_="lister-item-content")
        lst_movie=[]
        df2=pd.DataFrame()
        for movie in movies:
                    movie_rank=movie.find('span',class_="lister-item-index unbold text-primary").text.replace('\n','')
                    movie_name=movie.find('h3',class_="lister-item-header").a.text.replace('\n','')
                    movie_rating=movie.find('span',class_="ipl-rating-star__rating").text.replace('\n','')
                    movie_yr=movie.find('span',class_="lister-item-year text-muted unbold").text.replace('\n','')
                    lst_movie.append({'movie_rank':movie_rank,'movie_name':movie_name,'movie_rating':movie_rating,'movie_yr':movie_yr})
        df1=df2.append(lst_movie)
    return df1

In [ ]:
indian_movie('https://www.imdb.com/list/ls056092300/')

In [ ]:
#Q4. Write a python program to scrape product name, price and discounts from https://meesho.com/bags-ladies/pl/p7vbp .
def meesho_products(url):
    #page=requests.get('https://meesho.com/bags-ladies/pl/p7vbp')
    page=requests.get(url)
    if page.status_code >=200 and  page.status_code < 300:
            meesho=BeautifulSoup(page.content)
            prods=meesho.find_all('div',class_="Card__BaseCard-sc-b3n78k-0 cXRroa NewProductCard__DetailCard_Desktop-sc-j0e7tu-2 eEBPAI NewProductCard__DetailCard_Desktop-sc-j0e7tu-2 eEBPAI")
            meesho_list=[]
            df1=pd.DataFrame()
            for prod in prods:
                prod_name=prod.find('p',class_="Text__StyledText-sc-oo0kvp-0 cPgaBh NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 hofZGw NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 hofZGw").text
                prod_price=prod.find('h5',class_="Text__StyledText-sc-oo0kvp-0 dLSsNI").text.replace('₹','')
                prod_discount=prod.find('p',class_="Text__StyledText-sc-oo0kvp-0 iDRzyZ NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 dppwvY NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 dppwvY").text.replace(' discount on 1st order','')
                final_disc=prod_discount.replace('₹','')
                meesho_list.append({'prod_name':prod_name,'prod_price(₹)':prod_price,'prod_discount(₹)':final_disc})
                df2=df1.append(meesho_list)
    return df2

In [ ]:
meesho_products('https://meesho.com/bags-ladies/pl/p7vbp')

In [ ]:
# 15 Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
#a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

page=requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
if page.status_code >=200 and  page.status_code < 300:
        icc=BeautifulSoup(page.content)
        icc_teams=icc.find('table',class_="table")
        team_list=[]
        df1=pd.DataFrame()
        for team in icc_teams.find_all('tbody'):
            rows=team.find_all('tr')
            for row in rows:
                icc_team_rank=int(row.find_all('td')[0].text)
                #if icc_team_rank < 11:
                icc_team_name=row.find('span',class_="u-hide-phablet").text
                icc_team_matches=row.find_all('td')[2].text
                icc_team_points=row.find_all('td')[3].text
                icc_team_ratings=row.find_all('td')[4].text.strip()
                team_list.append({'icc_team_rank':icc_team_rank,'icc_team_name':icc_team_name,'icc_team_matches':icc_team_matches,'icc_team_points':icc_team_points,'icc_team_ratings':icc_team_ratings})
                    #print(icc_team_rank,icc_team_name,icc_team_matches,icc_team_points,icc_team_ratings)
                    #print(icc_team_ratings)
                df2=df1.append(team_list)
df2[:10]

In [ ]:
#Q.15 #b) Top 10 ODI Batsmen along with the records of their team and rating.
#c) Top 10 ODI bowlers along with the records of their team and rating.
def icc_player(url):
    page=requests.get(url)
    if page.status_code >=200 and  page.status_code < 300:
            icc=BeautifulSoup(page.content)
            tables=icc.find_all('table')
            table=icc.find('table',class_="table rankings-table")
            #print(table)
            team_list=[]
            df1=pd.DataFrame()
            for row in table.find_all('tr'):
                columns=row.find_all('td')
                if (columns !=[]):
                    c0=columns[0].text.replace('\n','').split()
                    c1=c0[0]
                    c2=columns[1].text.replace('(0)','').strip()
                    c3=columns[2].text.replace('(0)','').strip()
                    c4=columns[3].text.replace('(0)','').strip()
                    team_list.append({'Rank':c1,'Palyer':c2,'Team':c3,'Rating':c4})
                    df2=df1.append(team_list)#print(c1,c2,c3,c4)
    return df2[:10]

In [ ]:
icc_player('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')

In [ ]:
icc_player('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')

In [ ]:
#q.16 Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
#a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
#b) Top 10 women’s ODI Batting players along with the records of their team and rating.
#c) Top 10 women’s ODI all-rounder along with the records of their team and rating.
page=requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
if page.status_code >=200 and  page.status_code < 300:
        icc=BeautifulSoup(page.content)
        icc_teams=icc.find('table',class_="table")
        team_list=[]
        df1=pd.DataFrame()
        for team in icc_teams.find_all('tbody'):
            rows=team.find_all('tr')
            for row in rows:
                icc_team_rank=int(row.find_all('td')[0].text)
                #if icc_team_rank < 11:
                icc_team_name=row.find('span',class_="u-hide-phablet").text
                icc_team_matches=row.find_all('td')[2].text
                icc_team_points=row.find_all('td')[3].text
                icc_team_ratings=row.find_all('td')[4].text.strip()
                team_list.append({'icc_team_rank':icc_team_rank,'icc_team_name':icc_team_name,'icc_team_matches':icc_team_matches,'icc_team_points':icc_team_points,'icc_team_ratings':icc_team_ratings})
                    #print(icc_team_rank,icc_team_name,icc_team_matches,icc_team_points,icc_team_ratings)
                    #print(icc_team_ratings)
                df2=df1.append(team_list)
df2[:10]

In [ ]:
#Q.6 Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
#b) Top 10 women’s ODI Batting players along with the records of their team and rating.

icc_player('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')

In [ ]:
#6. #c) Top 10 women’s ODI all-rounder along with the records of their team and rating.
icc_player('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling')

In [96]:
#7) Write a python program to scrape details of all the posts from coreyms.com. Scrape the heading, date, content
#and the code for the video from the link for the youtube video from the post.

page=requests.get('https://coreyms.com/')
if page.status_code >=200 and  page.status_code < 300:
        coreym=BeautifulSoup(page.content)
        #print(coreym)
        heading=coreym.find_all('header',class_="entry-header")
        list1=[]
        list2=[]
        df1=pd.DataFrame()
        for header in heading:
            title=header.find('h2',class_='entry-title').text
            time=header.find('time',class_='entry-time').text
            #p1=header.find('p').text
            #content=header.find('p').text
            list1.append({'Heading':title,'Date':time})
            df2=df1.append(list1)
            #print(title,time)
        content=coreym.find_all('div',class_="entry-content")
        for para in content:
            p1=para.find('p').text
            list2.append(p1)
df2['content']=list2
df2

,Heading,Date,content
0,Python Tutorial: Zip Files – Creating and Extr...,"November 19, 2019","In this video, we will be learning how to crea..."
1,Python Data Science Tutorial: Analyzing the 20...,"October 17, 2019","In this Python Programming video, we will be l..."
2,Python Multiprocessing Tutorial: Run Code in P...,"September 21, 2019","In this Python Programming video, we will be l..."
3,Python Threading Tutorial: Run Code Concurrent...,"September 12, 2019","In this Python Programming video, we will be l..."
4,Update (2019-09-03),"September 3, 2019",Hey everyone. I wanted to give you an update o...
5,Python Quick Tip: The Difference Between “==” ...,"August 6, 2019","In this Python Programming Tutorial, we will b..."
6,Python Tutorial: Calling External Commands Usi...,"July 24, 2019","In this Python Programming Tutorial, we will b..."
7,Visual Studio Code (Windows) – Setting up a Py...,"May 1, 2019","In this Python Programming Tutorial, we will b..."
8,Visual Studio Code (Mac) – Setting up a Python...,"May 1, 2019","In this Python Programming Tutorial, we will b..."
9,Clarifying the Issues with Mutable Default Arg...,"April 24, 2019","In this Python Programming Tutorial, we will b..."

In [66]:
#8) Write a python program to scrape house details from mentioned URL. 
#It should include house title, location, area, EMI and price from https://www.nobroker.in/ .Enter three localities which are Indira Nagar, Jayanagar, Rajaji Nagar.
page=requests.get('https://www.nobroker.in/property/sale/bangalore/multiple?searchParam=W3sibGF0IjoxMi45OTgxNzMyLCJsb24iOjc3LjU1MzA0NDU5OTk5OTk5LCJwbGFjZUlkIjoiQ2hJSnhmVzREUE05cmpzUktzTlRHLTVwX1FRIiwicGxhY2VOYW1lIjoiUmFqYWppbmFnYXIifSx7ImxhdCI6MTIuOTMwNzczNSwibG9uIjo3Ny41ODM4MzAyLCJwbGFjZUlkIjoiQ2hJSjJkZGxaNWdWcmpzUmgxQk9BYWYtb3JzIiwicGxhY2VOYW1lIjoiSmF5YW5hZ2FyIn0seyJsYXQiOjEyLjk3ODM2OTIsImxvbiI6NzcuNjQwODM1NiwicGxhY2VJZCI6IkNoSUprUU4zR0tRV3Jqc1JOaEJRSnJoR0Q3VSIsInBsYWNlTmFtZSI6IkluZGlyYW5hZ2FyIn1d&radius=2.0&city=bangalore&locality=Rajajinagar,&locality=Jayanagar,&locality=Indiranagar')
if page.status_code >=200 and  page.status_code < 300:
        nobroker=BeautifulSoup(page.content)
        house_details=nobroker.find_all('div',class_="bg-white rounded-2 bg-clip-padding overflow-hidden my-1.2p mx-0.5p tp:border-b-0 tp:shadow-cardShadow tp:mt-0.5p tp:mx-0 tp:mb:1p hover:cursor-pointer nb__2_XSE")
        house_dtls=[]
        df1=pd.DataFrame()
        for house in house_details:
            title=house.find('span',class_="overflow-hidden overflow-ellipsis whitespace-nowrap max-w-80pe po:max-w-full").text
            location=house.find('div',class_='mt-0.5p overflow-hidden overflow-ellipsis whitespace-nowrap max-w-70 text-gray-light leading-4 po:mb-0 po:max-w-95').text
            area=house.find('div',class_="font-semi-bold heading-6").text
            EMI=house.find('div',id='roomType').text
            price=house.find('div',class_="flex flex-col w-33pe items-center bo tp:w-half po:w-full border-r-0").div.text
            house_dtls.append({'Title':title,'Location':location,'Area':area,'EMI':EMI,'Price': price})
            df2=df1.append(house_dtls)
df2

,Title,Location,Area,EMI,Price
0,4+ BHK In Independent House For Sale In Raja...,"Independent House, 6th Cross road,9th main ro...","1,320 sqft","₹63,045/Month",₹1.1 Crores
1,4+ BHK In Independent House For Sale In Jaya...,"Independent House, TMC Layout behind rajalaxmi...","2,800 sqft",₹2.21 Lacs/Month,₹3.85 Crores
2,2 BHK Apartment For Sale In Blueberry Apartm...,"Blueberry Apartment 13th E Main Rd, Channakes...","1,074 sqft","₹87,691/Month",₹1.53 Crores
3,3 BHK Apartment For Sale In Mayitri Enclave ...,"Mayitri Enclave Mayitri Enclave, 39th C, 5T B...","1,450 sqft","₹44,705/Month",₹78 Lacs
4,2 BHK Apartment For Sale In Tarang Parkway A...,"Tarang Parkway Apartment 2nd Main Rd, Shivana...","1,200 sqft","₹57,314/Month",₹1 Crore

In [115]:
#9) Write a python program to scrape mentioned details from dineout.co.in :
#i) Restaurant name
#ii) Cuisine
#iii) Location
#iv) Ratings
#v) Image URL
page=requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
if page.status_code >=200 and  page.status_code < 300:
        dine=BeautifulSoup(page.content)
        rest_details=dine.find_all('div',class_="restnt-main-wrap clearfix")
        rest_dtls=[]
        df1=pd.DataFrame()
        for rest in rest_details:
            name=rest.find('a',class_="restnt-name ellipsis").text
            place=rest.find('div',class_="restnt-loc ellipsis").text
            data=rest.find('span',class_="double-line-ellipsis").text.split('|')
            price1=data[0].split()
            price=price1[1]
            cousin=data[-1]
            rating=rest.find('div',class_="restnt-rating rating-4").text
            image=rest.find('img')['data-src']
            rest_dtls.append({'Name':name,'Location':place,'Price':price,'Cousine':cousin,'Rating':rating,'Image_url':image})
            #print(name,place,price,cousin,rating,image)
            df2=df1.append(rest_dtls)
df2

,Name,Location,Price,Cousine,Rating,Image_url
0,Castle Barbeque,"Connaught Place, Central Delhi","2,000","North Indian, Chinese",3.5,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"3CS Mall,Lajpat Nagar - 3, South Delhi","1,400","North Indian, Asian, Italian",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Castle Barbeque,"Pacific Mall,Tagore Garden, West Delhi","2,000","Chinese, North Indian",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,Cafe Knosh,"The Leela Ambience Convention Hotel,Shahdara, ...","3,000","Italian, Continental",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"Gardens Galleria,Sector 38A, Noida","1,700","North Indian, Chinese",4,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"Hilton Garden Inn,Saket, South Delhi","2,400","North Indian, Italian",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,"Taurus Sarovar Portico,Mahipalpur, South Delhi","1,800",North Indian,3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad","1,900","North Indian, Chinese",3.9,https://im1.dineout.co.in/images/uploads/resta...
8,World Cafe,"Vibe by The Lalit Traveller,Sector 35, Faridabad","1,800","North Indian, Chinese, Continental",4.2,https://im1.dineout.co.in/images/uploads/resta...
9,Indian Grill Room,"Suncity Business Tower,Golf Course Road, Gurgaon","2,000","North Indian, Mughlai",4.3,https://im1.dineout.co.in/images/uploads/resta...
10,Mad 4 Bar B Que,"Sector 29, Faridabad",800,North Indian,3.6,https://im1.dineout.co.in/images/uploads/resta...
11,Barbeque 29,"NIT, Faridabad","1,500","North Indian, Mughlai, Desserts, Beverages",4.2,https://im1.dineout.co.in/images/uploads/resta...
12,Glasshouse,"DoubleTree By Hilton Gurugram Baani Square,Sec...","3,400","European, Italian, Asian, Continental",4,https://im1.dineout.co.in/images/uploads/resta...

In [53]:
#10) Write a python program to scrape first 10 product details which include 
#product name , price , Image URL from https://www.bewakoof.com/women-tshirts?ga_q=tshirts .

page=requests.get('https://www.bewakoof.com/women-t-shirts')
if page.status_code >=200 and  page.status_code < 300:
        bewakoof=BeautifulSoup(page.content)
        Tshirts=bewakoof.find_all('div',class_="productCardBox")
        tshirt_dtls=[]
        df1=pd.DataFrame()
        count=1
        for tshirt in Tshirts:
            if count <=10:
                pname=tshirt.find('h3').text
                price=tshirt.find('span',class_="actualPriceText").text
                img=tshirt.find('img')['src']
                tshirt_dtls.append({'Product':pname,'Price':price,'Image_URL':img})
                df2=df1.append(tshirt_dtls)
                #print(pname,count,price,img)
            count=count+1
df2

,Product,Price,Image_URL
0,Women's Red Busy Doin Nothing (DL) Plus Size B...,999,https://images.bewakoof.com/t320/busy-doin-not...
1,Women's Red Busy Doing Nothing Plus Size Boyf...,999,https://images.bewakoof.com/t320/busy-doing-no...
2,Mickey Splash 2.O Half Sleeve T-shirt,799,https://images.bewakoof.com/t320/mickey-splash...
3,Mickey Splash 2.O Short Top T-shirt,999,https://images.bewakoof.com/t320/mickey-splash...
4,Eww Half Sleeve T-shirt,799,https://images.bewakoof.com/t320/eww-half-slee...
5,Eww Half Sleeve T-shirt,799,https://images.bewakoof.com/t320/eww-half-slee...
6,Not Gender Roles Half Sleeve T-shirt,999,https://images.bewakoof.com/t320/not-gender-ro...
7,Eww Boyfriend T-shirt,799,https://images.bewakoof.com/t320/eww-boyfriend...
8,Mickey Splash 2.O Half Sleeve T-shirt,799,https://images.bewakoof.com/t320/mickey-splash...
9,Eww Boyfriend T-shirt,799,https://images.bewakoof.com/t320/eww-boyfriend...